<h1> Enumeration </h1> Select variables you want to enumerate

<div id="control_enumeration">
</div>
<label for="nLayer">
  Number of Layers = <span id="nLayer-value"></span>
</label>
<input type="number" min="1" max="5" step="1" value="1" id="nLayer">
<label><input type="checkbox" checked="true" id="enumerate_draw">Don't actually draw, just calculate </label>
<div id="update_enumeration">
  <input id="updatebutton_enumeration" name="updateButton_enumeration" type="button" value="Update enumeration" />
</div>
<p>
Numer of enumeration: <div id="num_enumeration"></div>
<div id="unit_enumerate"></div>
